@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.custom-mouse-position{
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}